/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.cache
/.phpunit.result.cache
auth.json
.env
.env.backup
.env.production
*.log
.DS_Store
/.idea
/.vscode
/.fleet
/.nova
/.zed
